#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "autobrr"
name = "Autobrr"
description.en = "Modern, easy to use download automation for torrents and usenet"
description.fr = "Automatisation de téléchargement pour les torrents et Usenet"

version = "1.69.0~ynh1"

maintainers = []

[upstream]
license = "GPL-3.0-only"
website = "https://autobrr.com/"
code = "https://github.com/autobrr/autobrr"

[integration]
yunohost = ">= 12.0.9"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false

sso = false

disk = "50M"
ram.build = "150M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/autobrr"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]

    [resources.sources]

    [resources.sources.main]
    amd64.url = "https://github.com/autobrr/autobrr/releases/download/v1.69.0/autobrr_1.69.0_linux_x86_64.tar.gz"
    amd64.sha256 = "8e7547086c830e2cd72688085c47cf303aa9396a99019ad4af4d60a293f45a00"
    arm64.url = "https://github.com/autobrr/autobrr/releases/download/v1.69.0/autobrr_1.69.0_linux_arm64.tar.gz"
    arm64.sha256 = "5f0376f096e0076d4b2a3d5da7b31282bc1158c10cb924b8f4ba6a552836b6d9"
    armhf.url = "https://github.com/autobrr/autobrr/releases/download/v1.69.0/autobrr_1.69.0_linux_arm.tar.gz"
    armhf.sha256 = "33689891184d12d90e90dc0a5362ca872293275856d3b4835e376b1499fd33c6"
    in_subdir = false
    extract = true
    autoupdate.strategy = "latest_github_release"
    autoupdate.asset.amd64 = "^autobrr_.*_linux_x86_64.tar.gz$"
    autoupdate.asset.arm64 = "^autobrr_.*_linux_arm64.tar.gz$"
    autoupdate.asset.armhf = "^autobrr_.*_linux_(arm|armv6).tar.gz$"

    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]

    [resources.permissions]
    main.url = "/"

    [resources.ports]

    [resources.apt]
    packages = "postgresql"

    [resources.database]
    type = "postgresql"
